<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/fav.ico" rel="icon">

  <title>About</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>

<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./projects.html" title="">02 : Projects</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>About Me</h3>
                  Hi, I'm Caleb Gilleon, a passionate and driven Computer Science student studying at Georgia Southern University. I'm captivated by the endless possibilities that the world of coding offers. I have a deep interest in software development and I am dedicated to using my skills to solve real world problems and to be a meaningful contributer to a team of like-minded individuals.
                  <h3>Skills and Expertise</h3>
                  Programming Languages: Proficient in Java, Python, and JavaScript<hr>
                  Web Development: Experienced with HTML, CSS, React, Node.js, Express.js, Flask, Bootstrap<hr>
                  Software Development: Knowledgeable in version control (Git and GitHub), agile methodologies, and software engineering principles
                </div>
                <div class="col-xs-12 col-md-6">
                  <h3></h3>
                  <img src="./static/assets/images/profile.jpg" class="img-responsive" alt="" style="border: 5px solid black; margin-top: 70px">
                </div>
              </div>
            </div>
          </div>
                  
       </div>
      </div>
    </div>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>